<div class="col-md-6 col-md-offset-3">
  <% @recipes.each do |f| %>
    <div class="text-center content-box">
      <%= link_to edit_recipe_path(f) do %>
        <h2 class="overflow"><%= f.title %></h2>
        <%= image_tag f.image.url, class: 'about-me-widget-200' %>
      <% end %>
    </div>
  <% end %>
</div>
