<div class="col-md-6 col-md-offset-3">
  <% @contents.each do |f| %>
    <div class="text-center content-box">
      <h2 class="overflow"><%= f.title %></h2>
      <%= image_tag f.image.url, class: 'about-me-widget-200' %>
    </div>
  <% end %>
</div>
