

.main{
  margin-top: 40px;
  margin-bottom: 10px;

}

.text-main{
  text-align: center;
  vertical-align: middle;
  margin-left: 30px;
  font-size: 30px;
  padding: 20px;
  display: block;
  height: auto;
  width: 300px;
  // background-color: white;

}
.text-black {
  color: black;
}
.text-login{
  display: table-cell;
  vertical-align: middle;
}
.userform{
  display: table;
  margin-bottom: 10px;
}


.btn-white {
  color: white;
  border: 3px solid #fff;

  &:hover {
    color: black;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  // background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .users-new-container {
    padding-top: 15px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}
