

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;

}

.main{
  margin-top: 40px;
  margin-bottom: 10px;

}

.text-main{
  text-align: center;
  vertical-align: middle;
  margin-left: 30px;
  font-size: 30px;
  padding: 20px;
  display: block;
  height: auto;
  width: 300px;
  // background-color: white;

}
.text-black {
  color: black;
  &:hover {
    color: blue;
  }
}
.text-login{
  display: table-cell;
  vertical-align: middle;
}
.userform{
  display: table;
  margin-bottom: 10px;
}


.btn-white {
  color: black;
  border: 1px solid black;

  &:hover {
    color: blue;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  // background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .users-new-container {
    padding-top: 15px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.box{
  height: 15px;
  vertical-align: middle;
  display: inline-block;
}



.about-me-widget-thumb{
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
}



.material-space{
word-wrap: break-word;
margin:5px;
padding: 5px;
font-size: 15px;
}
.material-space-one{
  word-wrap: break-word;
  display: block;
  float: left;
  margin-right: 5px;
}

.category-space{
  display: inline-block;
  margin:5px 0 5px 0;
  border: 2px solid black;
  border-radius:10px;
  padding-bottom: 5px;
  word-break: break-all;
  width: 100%;
}

.red-color{
  color: #DC143C;
}

.about-me-widget-200{
  height: 200px;
  width: 200px;
}

.content-box{
  display: inline-block;
  height: 250px;
  width: 210px;
  .overflow{
    overflow: hidden;
    width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
}
.left {
  width:60%;
  height: 300px;
  border: 2px solid black;
  border-radius:10px;
  padding-bottom: 5px;
  margin-top: 5px;
  img{
    width: 100%;
    height: 250px;
  }
}
.title-box {
  float: left;
  display: inline-block;
  width: 45%;
  margin-left: 5px;
  h5{
    font-size: 15px;
  }
}
.right {
  width:35%;
  float: right;
  height: 300px;
  border: 2px solid black;
  border-radius:10px;
  padding-bottom: 5px;
  margin-top: 5px;
  .one-text{
    width: 100%;
    font-size: 15px;
    .right-left {
      float: left;
      display: inline-block;
      width: 45%;
      margin-left: 5px;
    }
  }
  a {
    margin: 10px
  }
}

.right-left {
  display: inline-block;
  width: 45%;
  margin-left: 5px;
}
